<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LIBRARYSYSTEM1202.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <LIBRARYSYSTEM1202.Properties.Settings>
      <setting name="DB" serializeAs="String">
        <value>Data Source=127.0.0.1\DATASERVER;Initial Catalog=LIBRARY_1202;User Id=sa;Password=p@ssw0rd;MultipleActiveResultSets=True</value>
      </setting>
    </LIBRARYSYSTEM1202.Properties.Settings>
  </userSettings>
</configuration>
